{{ $title := cond .IsHome .Site.Title (printf "%s · %s" .Title .Site.Title) }}
{{ $description := .Description | default .Summary | default .Site.Params.description }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ $description | plainify | htmlUnescape }}">
<meta name="theme-color" content="#11171b">
<title>{{ $title }}</title>
<link rel="icon" href="{{ "images/mark.svg" | relURL }}" type="image/svg+xml">
{{ with resources.Get "css/site.css" }}
  {{ $style := . | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}
{{ if or .Params.math .Site.Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css" integrity="sha384-5TcZemv2lC51KInD2gPqGvgsJ+ChZQv9S4B4s06MCqVKMbtV4YJqzM1GdHH22HhJ" crossorigin="anonymous">
{{ end }}
{{ with resources.Get "js/site.js" }}
  {{ $script := . | minify | fingerprint }}
  <script defer src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{ end }}
{{ if .Params.math }}
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js" crossorigin="anonymous" onload="renderMathInElement(document.body,{delimiters:[{left:'$$',right:'$$',display:true},{left:'\\[',right:'\\]',display:true},{left:'$',right:'$',display:false},{left:'\\(',right:'\\)',display:false}],throwOnError:false});"></script>
{{ end }}
